@import url('https://fonts.googleapis.com/css?family=Jura');

body{
  margin: 0;
  padding: 0;
  background: url("") no-repeat center center;
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}
.index-container{
  text-align: center;
  padding-top: 125px;
}
#logo-text{
  color: #15d1a2;
  font-family: "Jura";
  font-size: 76px;
}

#urlfield{
  width: 750px;
  color: white;
}
#numfield{
  width: 750px;
  color: white;
}
/* ::placeholder{
  color: ;
} */
.button-container{
  padding-top: 50px;
}

#btn-summarize{
  background: #15d1a2;
  display: inline-block;
  font-family: 'Jura';
  width: 200px;
  padding:25px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #15d1a2;
  text-align:center;
  outline:none;
  text-decoration:none;
}

#btn-summarize:hover{
  cursor: pointer;
}

/* Summarize.html styling */
.summarize-wrapper{
  padding-top: 50px;
}
#article-header{
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  font-family: 'Jura';
}
.items{
  text-align: center;
  font-size: 18px;
  font-family: 'Jura';
}
.sentence-wrapper{
  margin: auto;
  width: 75%;
}
.button-container{
  text-align: center;
}
#btn-back{
  background: #15d1a2;
  display: inline-block;
  font-family: 'Jura';
  width: 200px;
  padding:25px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #15d1a2;
  text-align:center;
  outline:none;
  text-decoration:none;
}
#btn-back:hover{
  cursor: pointer;
}
