@import url('https://fonts.googleapis.com/css?family=Jura');
@import url('https://fonts.googleapis.com/css?family=Jura:700');

body{
  margin: 0;
  padding: 0;
}
.index-container{
  text-align: center;
  padding-top: 200px;
  font-family: 'Jura';
}
#logo-text{
  color: #15d1a2;
  font-size: 84px;
}
.form{
  padding-top: 25px;
}
#urlfield{
  width: 800px;
  font-family: 'Jura';
}
#numfield{
  width: 800px;
  font-family: 'Jura';
}
::placeholder{
  color: black;
}
.button-container{
  padding-top: 50px;
}

#btn-summarize{
  background: #15d1a2;
  display: inline-block;
  width: 200px;
  padding:25px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #15d1a2;
  text-align:center;
  outline:none;
  text-decoration:none;
}

#btn-summarize:hover{
  cursor: pointer;
}

/* Summarize.html styling */
.summarize-wrapper{
  padding-top: 50px;
}
#article-header{
  font-size: 22px;
  text-align: center;
  font-weight: 700;
  font-family: 'Jura';
}
.items{
  text-align: left;
  font-size: 16px;
  font-family: 'Jura';
}
.sentence-wrapper{
  margin: auto;
  width: 75%;
}
.button-container{
  text-align: center;
}
#btn-back{
  background: #15d1a2;
  display: inline-block;
  font-family: 'Jura';
  width: 200px;
  padding:25px;
  letter-spacing: 1px;
  color: white;
  border: 1px solid #15d1a2;
  text-align:center;
  outline:none;
  text-decoration:none;
}
#btn-back:hover{
  cursor: pointer;
}
