<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Summarized</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <div class="index-container">
      <h1 id="logo-text">summarized</h1>
      <form class="form" method="POST" action="/summarized">
        <textarea id="textbox" name="text-field" type="text" placeholder="Enter content to be summarized"></textarea>
          <br>
        <input id="btn-summarize" type="submit" value="Summarize"></input>
      </form>
    </div>
  </body>
</html>
